<footer>
  <div style="margin-right: 20%;">
    <!-- <i ></i> -->
    <img src="assets/register.png" style="height: 120%; margin-left: 28%" />
    <span class="badge1">{{ userCount }}</span>
  </div>
  <div style="margin-right: 20%;">
    <i></i>
    <img src="assets/shopping-cart.png" style="height: 120%; margin-left: 38%" />
    <span class="badge2">{{ productCount }}</span>
  </div>
  <div>
    <i></i>
    <img src="assets/feedback.png" style="height: 120%; margin-left: 20%" />
    <span class="badge3">{{ reviewCount }}</span>
  </div>
</footer>
