.success-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: fadeOut 5s linear;
}

.success-message {
  display: flex;
  align-items: center;
  gap: 10px;
}

.success-message i {
  font-size: 20px;
}

.success-message span {
  font-size: 16px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
